.p-sidebar-mask{
    background-color: transparent;
}

body, html {
    margin: 0;
    padding: 0;
    height: 100%; 
    overflow: hidden; 
  }

.grid {
    display: grid;
    grid-template-columns: auto 1fr; 
  }
  
  .col-2 {
    width: 250px; 
  }
  
  .col {
    overflow: hidden; 
  }
  
  .col {
    overflow: hidden; 
  }
  
  @media (max-width: 768px) {
    .col-2 {
      width: 200px; 
    }
  }
  
  @media (max-width: 480px) {
    .col-2 {
      width: 150px; 
    }
  }
  