<div class="grid container gap-row-8 h-auto">
  <div class="col-7">
    <div class="grid">
      <p-card class="w-full m-3">
        <div class="flex justify-content-around">
          <div>
            <div
              class="p-4 px-6 border-round-2xl text-white gradient-box relative"
              style="max-height: 10rem; max-width: 16rem; min-width: 14rem"
            >
              <div class="card">          
                <h2 class="text-5xl text-center m-0">🎉 6</h2>
                <p class="text-center ">Courses Enrolled</p>
              </div>
            </div>
          </div>
          <div>
            <div
            class="p-4 px-6 border-round-2xl text-white gradient-box relative"
            style="max-height: 10rem; max-width: 16rem; min-width: 14rem"
            >
              <div class="card">          
                <h2 class="text-5xl text-center m-0">🕐 48</h2>
                <p class="text-center">Hours Spent</p>
              </div>
            </div>
          </div>
        </div>
      </p-card>
    </div>

    <div class="">
      <p-card header="Top Pick For You" class="h-auto">
        <p-carousel
          [value]="courses"
          [numVisible]="2"
          [numScroll]="3"
          [circular]="true"
          [responsiveOptions]="responsiveOptions"
        >
          <ng-template let-course pTemplate="item">
            <a routerLink="courses/{{ course.id }}" style="text-decoration: none">
              <div
                class="border-1 surface-border border-round m-2 text-center pb-2"
                style="height: 300px"
              >
                <img
                  src="{{ course.image }}"
                  [alt]="course.name"
                  class="shadow-2"
                  style="height: 200px; width: 100%; object-fit: cover"
                />
                <div>
                  <h4 class="mb-1" style="color: #495057; height: 50px">
                    {{ course.title }}
                  </h4>
                  <div
                    class="m-5 flex justify-content-end align-items-center justify-content-center gap-2"
                  ></div>
                </div>
              </div>
            </a>
          </ng-template>
        </p-carousel>
      </p-card>
    </div>
  </div>

  <div class="col" style="max-height: 100vh; overflow-y: auto">
    <mat-card class="demo-inline-calendar-card">
      <mat-calendar
        [(selected)]="selectedDate"
        (selectedChange)="onDateChange()"
      ></mat-calendar>
    </mat-card>

    <p-card header="Your Assignments" class="max-h-screen">
      <app-scheduler></app-scheduler>
    </p-card>
  </div>
</div>
