<p-card class="card" header="Courses">
    <p-dataView #dv [value]="courses" [rows]="5" [paginator]="true">
        <ng-template pTemplate="list" let-courses>
            <div class="grid grid-nogutter">
                <div class="col-12" *ngFor="let item of courses; let first = first" class="col-12">
                    <div class="flex flex-column sm:flex-row sm:align-items-center p-4 gap-3" [ngClass]="{ 'border-top-1 surface-border': !first }">
                        <div class="md:w-10rem relative">
                            <img class="block xl:block mx-auto border-round w-full" [src]="item.image" [alt]="item.name" />
                            <p-tag value="NEW" class="absolute" [style.left.px]="4" [style.top.px]="4" *ngIf="isNewItem(item.createdAt)"/>
                        </div>
                        <div class="flex flex-column md:flex-row justify-content-between md:align-items-center flex-1 gap-4">
                            <div class="flex flex-row md:flex-column justify-content-between align-items-start gap-2">
                                <div>
                                    <span class="font-medium text-secondary text-sm">{{ item.instructor }}</span>
                                    <div class="text-lg font-medium text-900 mt-2">{{ item.title }}</div>
                                </div>
                                <div class="surface-100 p-1" style="border-radius: 30px">
                                    <div class="surface-0 flex align-items-center gap-2 justify-content-center py-1 px-2" style="border-radius: 30px; box-shadow: 0px 1px 2px 0px rgba(0, 0, 0, 0.04), 0px 1px 2px 0px rgba(0, 0, 0, 0.06)">
                                        <i class="pi pi-star-fill text-yellow-500"></i>
                                        <span class="text-900 font-medium text-sm">{{ item.rating[0].value }}</span>
                                    </div>
                                </div>
                            </div>
                            <div class="flex flex-column md:align-items-end gap-5">
                                <span class="text-xl font-semibold text-900">{{ item.price }}</span>
                                <div class="flex flex-row-reverse md:flex-row gap-2">
                                    <p-button icon="pi pi-heart" [outlined]="true" />
                                    <p-button icon="pi pi-plus" class="flex-auto md:flex-initial white-space-nowrap modern-btn" label="Enroll" />
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </ng-template>
    </p-dataView>
</p-card>