<div class="card flex" style="background-color: #161616">
  <p-sidebar
    #sidebarRef
    [(visible)]="sidebarVisible"
    [modal]="false"
    [style]="{ width: '14em', backgroundColor: '#161616' }"
  >
    <ng-template pTemplate="headless">
      <div class="flex flex-column h-full">
        <div
          class="w-full flex align-items-center justify-content-between px-4 pt-3 flex-shrink-0"
        >
          <span class="inline-flex align-items-center gap-2">
            <img
              class="w-8 my-3"
              src="../../../../assets/logo.png"
              alt="logo"
            />
          </span>
        </div>

        <p-menu
          [model]="items"
          class="w-max"
          [style]="{ width: '14em', backgroundColor: '#161616' }"
        >
          <ng-template pTemplate="item" let-item>
            <a
              *ngIf="!item?.url"
              [attr.tabindex]="-1"
              class="p-menuitem-link flex justify-content-between align-items-center p-3 w-full"
              [routerLink]="item.routerLink"
            >
              <div class="w-max white-space-nowrap">
                <span [class]="item.icon" class="text-gray-300"></span>
                <span class="w-full text-gray-500"> {{ item.label }}</span>
              </div>
              <div>
                <span *ngIf="item.shortcut" [class]="item.shortcutClass">{{
                  item.shortcut
                }}</span>
                <p-badge
                  *ngIf="item.badge"
                  [value]="item.badge"
                  [severity]="item.badgeSeverity"
                ></p-badge>
              </div>
            </a>
            <a
              *ngIf="item?.url"
              [attr.tabindex]="-1"
              class="w-full p-menuitem-link flex justify-content-between align-items-center p-3"
              [attr.href]="item.url"
            >
              <div class="w-full">
                <span [class]="item.icon"></span>
                <span class="w-full"> {{ item.label }}</span>
              </div>
              <div>
                <span *ngIf="item.shortcut" [class]="item.shortcutClass">{{
                  item.shortcut
                }}</span>
                <p-badge
                  *ngIf="item.badge"
                  [value]="item.badge"
                  [severity]="item.badgeSeverity"
                ></p-badge>
              </div>
            </a>
          </ng-template>
        </p-menu>

        <div class="mt-auto p-5 w-full text-center">
          <p-avatar
            image="https://primefaces.org/cdn/primeng/images/demo/avatar/amyelsner.png"
            styleClass="mr-2"
            size="xlarge"
            shape="circle"
          />
          <h2 class="text-sm text-gray-300 text-center">Hey, Jenny! 👋🏼</h2>
        </div>
      </div>
    </ng-template>
  </p-sidebar>
</div>
