::ng-deep .p-datepicker {
    max-width: 350px;
    max-height: 250px; 
  }
  
  ::ng-deep .p-datepicker table td > span {
    max-width: 250px; 
  }
  
  ::ng-deep .p-datepicker table td.p-datepicker-today > span {
    background-color: gray; 
    color: white;
  }
  
.hour-header {
  width: 10%;
}

hr {
  width: 80%;
  margin-top: 0.5rem; 
  border: none; 
  border-top: 1px solid #ccc; 
}


.transparent-button{
  background-color: transparent;
  border: none;
  cursor: pointer;
}

.task-background{
  background-color: #011936;
}